@model eMarket.Models.Data.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Sign up for a new account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V3</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->

    <link rel="icon" type="image/png" href="/Login/images/icons/favicon.ico" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/vendor/bootstrap/css/bootstrap.min.css">

    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/Login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/Login/css/main.css">
    <link rel="stylesheet" type="text/css" href="/Login/StyleSheet.css" />
    <!--===============================================================================================-->
</head>
<body>
    <div class="limiter" id="imgb">
        <div id="imgb">
            <div class="wrap-login100">




                <form asp-action="Register" class="login100-form ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span class="login100-form-logo">
                        <i class="zmdi zmdi-landscape"></i>
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27 form-group">
                        Rgister
                    </span>


                    <div class="form-group">
                        <label id="email" asp-for="FullName" class="control-label"></label>
                        <div class="input-group">
                            <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                <i class="mdi mdi-12px mdi-account"></i>
                            </div>
                            <input id="fname" asp-for="FullName" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your First Name">
                        </div>
                        <span asp-validation-for="FullName" class="text-danger"></span>


                    </div>


                    <div class="form-group">
                        <label id="email" asp-for="EmailAddress" class="control-label"></label>
                        <div class="input-group">
                            <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                <i class="mdi mdi-12px mdi-account"></i>
                            </div>
                            <input id="emailad" asp-for="EmailAddress" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your Email">
                        </div>
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>


                    </div>


                    <div class="form-group">
                        <label id="email" asp-for="Password" class="control-label"></label>
                        <div class="input-group">
                            <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                <i class="mdi mdi-12px mdi-account"></i>
                            </div>
                            <input id="inpswd" asp-for="Password" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Enter Your Password">
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>


                    </div>


                    <div class="form-group">
                        <label id="email" asp-for="ConfirmPassword" class="control-label"></label>
                        <div class="input-group">
                            <div class="bg-transparent border-0 input-group-text position-absolute" style="z-index: 9;">
                                <i class="mdi mdi-12px mdi-account"></i>
                            </div>
                            <input id="cnpswd" asp-for="ConfirmPassword" class="form-control form-control-lg pl-5 rounded-pill" placeholder="Confirm Your Password">
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>


                    </div>


            

            <div class="form-group">

                <input class="btn btn-success btn-lg btn-block" type="submit" value="Register" />

            </div>

            <div class="form-group">
                <a class="btn btn-light btn-lg btn-block" asp-controller="Products" asp-action="Index">Cancel</a>
            </div>

            </form>
</div>
            </div>
        </div>


            <!--===============================================================================================-->
            <script src="/Login/vendor/jquery/jquery-3.2.1.min.js"></script>

            <!--===============================================================================================-->

            <script src="/Loginvendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="/Login/vendor/bootstrap/js/popper.js"></script>
            <script src="/Login/vendor/bootstrap/js/bootstrap.min.js"></script>

            <!--===============================================================================================-->
            <script src="/Login/vendor/select2/select2.min.js"></script>

            <!--===============================================================================================-->
            <script src="/Login/vendor/daterangepicker/moment.min.js"></script>
            <script src="/Login/vendor/daterangepicker/daterangepicker.js"></script>

            <!--===============================================================================================-->
            <script src="/Login/vendor/countdowntime/countdowntime.js"></script>

            <!--===============================================================================================-->
            <script src="/Login/js/main.js"></script>


</body>
</html>